.container {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 30px;
  padding-bottom: 40px;
  background:#282f4b;
  justify-content: center;
  border: radius 5px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.container2{
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 21px;
  background: #282f4b;
  justify-content: center;
  border: radius 5px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  /* margin-bottom:10px; */
  width: 100%;
  height: 70vh;
  background-image: url("../App/office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1000;
  border-radius: 15px;
}
.caption {
  font-family: Rubik, Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-size: 42px;
  font-style: italic;
  color: #dadada;
  font-weight: 700;
  background: #363030;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 10;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.captionshadow {
  background: #136d6d;
  width: 30%;
  height: 10vh;
  position: relative;
  top: 65px;
  right: -10px;
  z-index: 5;
  border-radius: 2px;
}
.shiftbutton {
  position: relative;
  top: 130px;
}
.shiftbutton:hover {
  position: relative;
  top: 135px;
  right: -10px;
  z-index: 7;
  background-color: #003852;
  padding: 5px 10px;
  border-radius: 10px;
}
.logo {
  width: 5%;
  height: auto;
  position: relative;
  top: -5px;
  margin-right: 25px;
}
.toolbartext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin-right: 30px;
}
