.form {
  margin: auto;
  margin-bottom: 16px;
  margin-top: 16px;
  width: 50%;
  background: #fafafa;
  padding: 15px 15px;
  border: 0px solid #ddd;
  border-radius: 4px;
}

.heading {
  width: 50%;
  margin: auto;
  padding: 64px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #0099cc;
}

.post-login-button {
  align-self: center;
  display: block;
  margin: auto;
  margin-bottom: 16px;
  width: 70%;
  padding: 8px 16px;
  font-size: 18px;
  color: #fff;
  background: #03a9f4;
  text-decoration: none;
  border-radius: 4px;
  line-height: 30px;
}
.post-login-button:disabled,
.post-login-button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.post-signup-button {
  display: block;
  width: 70%;
  margin: auto;
  padding: 8px 16px;
  font-size: 18px;
  color: #fff;
  background: #03a9f4;
  text-decoration: none;
  border-radius: 4px;
  line-height: 30px;
}
.post-signup-button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}
.form-field {
  width: 80%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: normal;
  padding: 15px 25px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  color: #212121;
}
.form-field-text {
  width: 100%;
  height: 30px;
  align-content: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: normal;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  text-align: center;
}
